.workouts {
	padding: 8px;
	&__list {
		--columns: 1;
		display: grid;
		grid-template-columns: repeat(var(--columns), 1fr);
		gap: 16px;

		margin-top: 8px;
	}
}
.workout {
	border-radius: 8px;
	$boxShadow: 4px 4px 8px #00000022;
	$boxShadowInset: -4px -4px 8px #ffffff99;
	box-shadow: $boxShadow, $boxShadowInset;
	padding: 8px;

	&__row {
		display: flex;
		justify-content: space-between;

		& .fa-fire {
			--fa-primary-color: orange;
			--fa-secondary-color: red;
		}
	}
	&__stats {
		width: 35%;
		margin-top: 8px;
	}

	&__exercise {
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

@include desktop {
	.workouts {
		&__list {
			--columns: 3;
		}
	}
}
@include tablet {
	.workouts {
		&__list {
			--columns: 2;
		}
	}
}
