:is(.new-exercise-form, .new-workout-form) {
	display: flex;
	flex-direction: column;

	padding: 8px;

	& :not(:first-child) {
		margin-top: 8px;
	}

	& label {
		display: flex;
		justify-content: space-between;
		min-width: 275px;

		& * {
			min-width: 150px;
			width: 60%;
		}
	}
}

@include desktop {
	.new-workout-form {
		max-width: 500px;
	}
}
